.gallery {
    display: flex;
    gap: 16px;
    margin: 30px 6%;
}

.col {
    width: 33.3%;
    height: 756px;
    position: relative;
    background-color: black;
}
.imagetitle {
    position: absolute;
    bottom:15%;
    left: 10%;
    width: 100%;
}

.imagetitle h2 {
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: left;
}
.imagetitle p {
    font-size: 14px;
    color: #CCCCCC;
    font-weight: 400;
    text-align: left;
    padding: 8px 0px 16px 0px;
}
.imagetitle a {
    font-size: 15px;
    color: #CCCCCC;
    font-weight: 600;
    text-align: left;
    text-decoration: underline;
}
.col2 {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
}


.row {
    height: 430px;
    background-color: black;
    position: relative;
}

.row1 {
    height: 310px;
    background-color: black;
    position: relative;
}

.col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.row1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

@media (max-width: 736px) {
    .imagetitle {
        bottom:6%;
        left: 6%;
        width: 100%;
    }
    
    .imagetitle h2 {
        font-size: 12px;
    }
    .imagetitle p {
        font-size: 10px;
        padding: 4px 0px 4px 0px;
    }
    .imagetitle a {
        font-size: 10px;
    }
    .gallery {
        gap: 8px;
        margin: 30px 6%;
    }

    .col {
        width: 100%;
        height: auto;
    }

    .col2 {
        width: 100%;
        height: auto;
        gap: 8px;
    }

    .row {
        height: auto;
    }

    .row1 {
        height: auto;
    }

    .col img {
        width: 100%;
        height: 100%;
    }

    .row img {
        width: 100%;
        height: 100%;
    }

    .row1 img {
        width: 100%;
        height: 100%;
    }
}